
.App {
    display: grid;
    justify-content: center;
    min-width: 300px;
    min-height: 100vh;

    background-image: url('/background-page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}