
.App {
    display: grid;
    justify-content: center;
    min-width: 300px;
    min-height: 100vh;
    position: relative;

    background-image: url('/background-page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hr__code {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    margin: auto;

    background-color: black;
    width: 80%;
    opacity: 0.7;
    border-radius: 1em;
}

.hr__code a {  
    text-decoration: none;
    text-align: center;
}

.hr__code a p {
    font-weight: 600;
    color:azure;
}

.hr__code a p span {
    font-size: 1.3rem;
    color: lawngreen;
    cursor: pointer;
}

@media (min-width:500px) {
    .hr__code {
        width: 350px;
}
}