
:root {
    --BgW: rgba(43, 131, 166, 0.812);
    --LtW: aliceblue;
    --Zi1: 10000;
}

.main {
    display: grid;
    align-items: center;
}

.weather {
    background-color: var(--BgW);
    padding: 1em 1em 1.5em;
    border-radius: 1rem;
    max-width: 500px;
    overflow: hidden;
    position: relative;
}

.header__weather {
    text-align: center;
    line-height: 4.5em;
    font-size: 1.1rem;
}

.header__weather h1 {
    font-size: 2.3rem;
    font-weight:900;
    color: var(--LtW);
}

.header__weather h3 {
    margin-bottom: -1.8em ;
    color: var(--LtW);
}

.container__weather {
    display: flex;
}

.weather__nubes {
    left: -8px;
    top: -10px;
    position: absolute;
    width: 110%;
    height: 105%;
    opacity: 0.15;
}

.weather__img {
    width: 220px;
    margin-left: -2em;
    align-self: center;
    transition: transform 0.5s ease;
    z-index: var(--Zi1);
}

.weather__img:hover {
    transform: rotate(8deg);
}

.weather__info {
    z-index: var(--Zi1);
}

.weather__info h3 {
    font-size: 1.2rem;
    padding: 3.2rem 0 0.5rem 0;
    text-align: center;
}

.weather__info ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight:600;
}

.weather__info ul li span {
    padding-right: 1em;
    font-weight:600;
}

.footer__weather {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    margin: -1em 0 0 0;
    font-size: 1.6rem;
    padding-top: 1em;
}

.footer__weather button {
    width: 8.2em;
    border-radius: 3em;
    aspect-ratio: 4;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.5s ease;
    z-index: var(--Zi1);
}

.footer__weather button:hover {
    transform: scale(1.05);
}

@media (max-width: 400px) {

    .weather {
        max-width: 320px;
    }
    .weather__img {
        width: 200px;
    }

    .weather__info h3 {
        font-size: 1rem;
    }

    .weather__info ul li {
        font-size: 0.8rem;
    }
}